name: u24-x86-int

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@v4  
    - name: Install a package using brew
      run: brew install gcc
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3

